@import "tailwindcss";

@font-face {
    font-family: 'Amasis MT Medium';
    src: url('/src/assets/amasis-mt-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .font-amasis {
        font-family: 'Amasis MT Medium', serif;
    }
}